.container-Hobbies {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
.hobbies-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-top: 10px;
  margin-bottom: 0;
}
  
@media (max-width: 768px) {
  .container-Hobbies{
    padding-top: 10px;
  }

  .hobbies-layout {
    flex-direction: column;
  }

  .doughnut-container {
    order: -1;
  }

  .cards-container-hobbies {
    margin-top: 20px;
  }
}