.switch-container {
    position: relative;
    width: 44px;
    height: 24px;
    border-radius: 12px;
    overflow: hidden;
    transition: background-image 0.3s;
  }
  
  
  .switch-container.bg-spain-flag {
    background-image: url('/assets/img/idiomas/spain.jpg');
    background-size: cover;
  }
  
  .switch-container.bg-uk-flag {
    background-image: url('/assets/img/idiomas/reino_unido.jpg');
    background-size: cover;
  }
  
  .switch-circle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .switch-container.bg-spain-flag .switch-circle {
    transform: translateX(20px);
  }
  
  .switch-container.bg-uk-flag .switch-circle {
    transform: translateX(0px);
  }