@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-screen{
  min-height: 90vh;
  min-width: 100%;
  background-color: #1f1f1f85;
}

.main-container{
  padding-left: 10%;
  padding-right: 10%;
}

@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.first-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
  padding: 10% 0;
  box-sizing: border-box;
  padding: 0 5%;
  flex-direction: row;
  text-align: center;
}



@media (max-width: 768px) {
  .first-section {
    flex-direction: column;
    height: auto;
  }

  .first-section-left, 
  .first-section-right {
    max-width: 100%;
    padding: 0;
  }

}

.imagen_first_section {
  flex: 1;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.first-section-left {
  flex: 1;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .first-section-left {
    display: none;
  }
}

.first-section-right {
  flex: 2;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.first-section-right h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.first-section-right h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.projects .grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .projects .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .projects .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.icon-container {
  background-color: #AE99FF;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.icon-social {
  width: 100%;
  height: 100%;
}

.icon-social svg {
  width: 100%;
  height: 100%;
  fill: #833737;
}

.icon-social:hover {
  transform: scale(1.3);
}

.background-morado{
  background-color: #AE99FC;
}